 	

ul#list-nav {

	display: flex;
    flex-direction: row;

    list-style:none;
  
    align-items: center;
    justify-content: center;
  
    margin:20px;
  
    width:100%;
  
  
      
  
      
  
  }
  
      
  
      
  
  ul#list-nav li {
  
      
  
    display:inline
  
      
  
  }
  
      
  
      
  
  ul#list-nav li a {
  
      
  
    text-decoration:none;
  
      
  
    padding:5px 0;
  
      
  
    width:100px;
  
      
  
    background:#485e49;
  
      
  
    color:#eee;
  
      
  
    float:left;
  
      
  
    text-align:center;
  
      
  
    border-left:1px solid #fff;
  
      
  
  }
  
      
  
      
  
  ul#list-nav li a:hover {
  
      
  
    background:#a2b3a1;
  
      
  
    color:#000
  
      
  
  }

  .Books {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  .body{

    widows: 1px;
  }